#wrapper{
    min-width: 600px;
    max-width: 700px;
    width: 80%;
    margin: auto;
}
video{
    width: 100%;
}
.center{
    text-align: center;
}
.gray_bg{
    background-color: lightgray;
}
table{
    border: 2px azure solid;
}
body{
    background: azure;
}
select{
    width: 100%;
}
input{
    line-height: 1;
    padding: 5px;
    font-size: 50px;
}
#colony-name-input{
    width: 150px;
}
#plate-number-input{
    width: 70px;
}
button{
    height: 40px;
    width: 90px;
    font-size: 25px;
}
@keyframes flash_blue {
	0%,
	100% {
		background-color: rgb(96, 236, 166);
	}

	50% {
		background-color: lightgray;
	}
}

.recording{
    animation: flash_red 0.8s linear infinite;
}

@keyframes flash_red {
	0%,
	100% {
		background-color: rgb(207, 118, 118);
	}

	50% {
		background-color: lightgray;
	}
}